body {
    background-image: url("Farmer2.jpg");
    font-family:Lato;
    color:white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right {
    display: flex;
    justify-content: right;
    
}
.space{
    margin-right:10px
}

.spaceLeft {
    margin-left: 10px
}

.Textbox{
    border: 2px solid black;
    border-radius:12px;
}

.Buttons {
    background-color: gray;
    color: white;
    border-radius: 12px;
    font-family: Lato;
    transition-duration: 0.4s;
    cursor: pointer;
}

    .Buttons:hover {
        background-color: white;
        color: black;
        border-color: black;
    }

.header {
    font-family: Lato;
    font-size: xx-large;
    font-weight: 700;
}

.border{
    border:4px solid white;
}
